apiVersion: openstack.k-orc.cloud/v1alpha1
kind: Flavor
metadata:
  name: server-flavor
spec:
  cloudCredentialsRef:
    cloudName: openstack-admin
    secretName: openstack-clouds
  managementPolicy: unmanaged
  import:
    filter:
      name: ${E2E_KUTTL_FLAVOR}
