---
apiVersion: openstack.k-orc.cloud/v1alpha1
kind: {{ .Kind }}
metadata:
  name: {{ .PackageName }}-import-error
spec:
  cloudCredentialsRef:
    cloudName: openstack
    secretName: openstack-clouds
  managementPolicy: unmanaged
  import:
    filter:
      description: {{ .Kind }} from "import error" test
