{{ $kind := .Kind -}}
{{ $packageName := .PackageName -}}
---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
delete:
- apiVersion: openstack.k-orc.cloud/v1alpha1
  kind: {{ $kind }}
  name: {{ $packageName }}-dependency-no-secret
{{- range .AllCreateDependencies }}
- apiVersion: openstack.k-orc.cloud/v1alpha1
  kind: {{ $kind }}
  name: {{ $packageName }}-dependency-no-{{ . | lower }}
{{- end }}
