{{ $packageName := .PackageName -}}
{{ range .ImportDependencies -}}
---
apiVersion: openstack.k-orc.cloud/v1alpha1
kind: {{ . }}
metadata:
  name: {{ $packageName }}-import-dependency-external
spec:
  cloudCredentialsRef:
    # TODO(scaffolding): Use openstack-admin if the resource needs admin credentials to be created
    cloudName: openstack
    secretName: openstack-clouds
  managementPolicy: managed
  # TODO(scaffolding): Add the necessary fields to create the resource
  resource: {}
{{ end -}}
---
apiVersion: openstack.k-orc.cloud/v1alpha1
kind: {{ .Kind }}
metadata:
  name: {{ $packageName }}-import-dependency-external
spec:
  cloudCredentialsRef:
    # TODO(scaffolding): Use openstack-admin if the resource needs admin credentials to be created
    cloudName: openstack-admin
    secretName: openstack-clouds
  managementPolicy: managed
  resource:
{{- range .ImportDependencies }}
    {{ . | camelCase }}Ref: {{ $packageName }}-import-dependency-external
{{- end }}
    # TODO(scaffolding): Add the necessary fields to create the resource
