---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
resourceRefs:
    - apiVersion: openstack.k-orc.cloud/v1alpha1
      kind: {{ .Kind }}
      name: {{ .PackageName }}-update
      ref: {{ .PackageName }}
assertAll:
    - celExpr: "!has({{ .PackageName }}.status.resource.description)"
---
apiVersion: openstack.k-orc.cloud/v1alpha1
kind: {{ .Kind }}
metadata:
  name: {{ .PackageName }}-update
status:
  resource:
    name: {{ .PackageName }}-update
    # TODO(scaffolding): Add matches for more fields
  conditions:
  - type: Available
    status: "True"
    reason: Success
  - type: Progressing
    status: "False"
    reason: Success
