---
apiVersion: openstack.k-orc.cloud/v1alpha1
kind: {{ .Kind }}
metadata:
  name: {{ .PackageName }}-update
status:
  resource:
    name: {{ .PackageName }}-update-updated
    description: {{ .PackageName }}-update-updated
    # TODO(scaffolding): match all fields that were modified
  conditions:
  - type: Available
    status: "True"
    reason: Success
  - type: Progressing
    status: "False"
    reason: Success
