# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: openstack-resource-controller
site_url: https://k-orc.cloud/
nav:
  - Home: index.md
  - Getting Started:
    - Installation: installation.md
    - Quick Start: getting-started.md
  - User Guide: user-guide/index.md
  - CRD Reference: crd-reference.md
  - Troubleshooting: troubleshooting.md
  - Contributing:
    - Development Quickstart: development/quickstart.md
    - Running Examples: development/running-examples.md
    - Developing Controllers:
      - Overview: development/overview.md
      - Scaffolding a New Controller: development/scaffolding.md
      - API Design: development/api-design.md
      - Controller Initialisation: development/controller-init.md
      - Resource Interfaces: development/interfaces.md
      - Controller Implementation: development/controller-implementation.md
      - Writing Tests: development/writing-tests.md
    - Reference:
      - Architecture: development/architecture.md
      - Coding Standards: development/coding-standards.md
      - Interfaces: development/godoc/generic-interfaces.md
      - ReconcileStatus: development/godoc/reconcile-status.md
  - Changelog: changelog.md
repo_url: https://github.com/k-orc/openstack-resource-controller
extra:
  analytics:
    provider: p
    data_domain: k-orc.cloud
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/k-orc/openstack-resource-controller
    - icon: fontawesome/brands/slack
      link: slack://channel?team=T09NY5SBT&id=C05G4NJ6P6X
hooks:
  - hooks.py
theme:
  name: material
  custom_dir: overrides
  features:
    - navigation.footer
    - navigation.indexes
    - navigation.expand
    - navigation.sections
    - content.code.copy
    - search.highlight
    - search.suggest
plugins:
  - search:
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
        remove_comments: true
      cache_safe: true
  - redirects:
      redirect_maps:
        'getting_started.md': 'getting-started.md'
        'development/index.md': 'development/overview.md'
        'development/controller-design.md': 'development/controller-implementation.md'
        'development/design-decisions.md': 'development/architecture.md'
        'development/coding-convention.md': 'development/coding-standards.md'
        'development/api-contracts.md': 'development/api-design.md'
markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
