on:
  push:
    branches:
    - main
  merge_group:
  pull_request:
name: go lint
permissions:
  contents: read

jobs:
  go-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Calculate go version
        id: vars
        run: echo "go_version=$(make go-version)" >> $GITHUB_OUTPUT

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # tag=v6.1.0
        with:
          go-version: ${{ steps.vars.outputs.go_version }}

      - run: |
          make lint 
          make verify-fmt
