on:
  push:
    branches:
    - main
  merge_group:
  pull_request:
name: go test
permissions:
  contents: read

jobs:
  unit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - '1'

    steps:
      - uses: actions/checkout@v6.0.1

      - name: Calculate go version
        id: vars
        run: echo "go_version=$(make go-version)" >> $GITHUB_OUTPUT

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # tag=v6.2.0
        with:
          go-version: ${{ steps.vars.outputs.go_version }}

      - run: |
         make test 
